<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibVLCSharp" version="3.9.7.1" targetFramework="net462" />
  <package id="LibVLCSharp.WPF" version="3.9.7.1" targetFramework="net462" />
  <package id="VideoLAN.LibVLC.Windows" version="3.0.23.1" targetFramework="net462" />
  <package id="Microsoft.Web.WebView2" version="1.0.4078.44" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net462" />
  <package id="PlayniteSDK" version="6.17.0" targetFramework="net462" />
</packages>
